<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">PR List</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios">
    <ion-searchbar mode="ios" [(ngModel)]="searchTerm" style="padding: 16px 10px 16px 10px;" (ionInput)="filterItems($event)" (ionClear)="onClear()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item (click)="prDetails(p)" *ngFor="let p of objSearch">
      <ion-row style="width: 100%;">
        <ion-col size="6" class="ion-no-padding">
          <h2>Req # {{p.PRR_PRNUMBER}}</h2>
        </ion-col>
        <ion-col size="6" class="ion-no-padding ion-text-right">
          <h2>{{p.LINECOUNT}} Items</h2>
        </ion-col>
        <ion-col size="12" class="ion-text-right">
          <p>
            <span style="font-size: 16px; color: black;">
              {{p.PRR_CURRENCY}}
            </span>&nbsp;
            <span style="font-size: 18px; color: black;">
              {{p.fracValue}}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list> -->
  <ion-card *ngFor="let item of _prListArray" (click)="_prDetails(item)" style="background-color:#EAEDED"  mode="ios">
    <ion-card-header>
      <ion-card-title style="font-size: 22px;">Req # {{item.PRNUMBER}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{item.VENDORNAME}}
      <ion-row style="width: 100%;">
        <ion-col class="ion-no-padding ion-text-right" size="12">
          <p>
            <span style="font-size: 16px; color: black;">{{item.CURRENCY}}</span>&nbsp;
            <span style="font-size: 18px; color: black;">
              {{item.NETVALUE ? item.NETVALUE : 0}}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-list>
    <ion-item *ngFor="let item of _prListArray">
      <ion-row style="width: 100%;">
        <ion-col size="6" class="ion-no-padding">
          <h3>Req # {{item.PRNUMBER}}</h3>
        </ion-col>
        <ion-col size="6" class="ion-no-padding ion-text-right">
          <h2>{{p.LINECOUNT}} Items</h2>
        </ion-col>
        <ion-col size="12" class="ion-text-right">
          <p>
            <span style="font-size: 18px; color: black;">
              {{item.NETVALUE}}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list> -->
</ion-content>
