<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">PO List</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" [(ngModel)]="searchTerm" style="padding: 16px 10px 16px 10px;" (ionInput)="filterItems($event)" (ionClear)="onClear()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let o of objSearch" (click)="poDetails(o)">
      <ion-row style="width: 100%;">
        <ion-col size="12" class="ion-no-padding">

          <h2>PO # {{o.por_ponumber}}</h2>

          <h4 style="margin-top: 5%;">
            {{o.por_vendor_name}}</h4>
        </ion-col>
        <ion-col  size="12" class="ion-no-padding ion-text-right">
          <p>
            <span style="font-size: 16px; color: black;">{{o.por_currency}}</span>&nbsp;
            <span style="font-size: 18px; color: black;">{{o.por_netvalue}}</span>
            <span style="font-size: 18px; color: black;">0</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>-->
  <ion-card (click)="_poDetails(item)" *ngFor="let item of _poListArray" style="background-color:#EAEDED" mode="ios">
    <ion-card-header>
      <ion-card-title style="font-size: 22px;">PO # {{item.PONUMBER}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{item.VENDORNAME}}
      <ion-row style="width: 100%;">
        <ion-col class="ion-no-padding ion-text-right" size="12">
          <p>
            <span style="font-size: 16px; color: black;">{{item.CURRENCY}}</span>&nbsp;
            <span style="font-size: 18px; color: black;">
              {{item.NETVALUE ? item.NETVALUE : 0}}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-list>
    <ion-item (click)="_poDetails(item)" *ngFor="let item of _poListArray">
      <ion-row style="width: 100%;">
        <ion-col class="ion-no-padding" size="12">
          <h2>PO # {{item.PONUMBER}}</h2>

          <h4 style="margin-top: 5%;">{{item.VENDORNAME}}</h4>
        </ion-col>
        <ion-col class="ion-no-padding ion-text-right" size="12">
          <p>
            INR
            <span style="font-size: 18px; color: black;">
              {{item.NETVALUE ? item.NETVALUE : 0}}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list> -->
</ion-content>
