
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Welcome To Ramky</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id=loginBg>
  <div class="warning">
    <div class="logo">
      <img src="assets/imgs/RamkyLogo2.png">
    </div>
    <div class="sub_div">
      <form [formGroup]="loginForm" class="ion-padding" id="formBg">
        <div class="formDiv">
          <!-- <ion-list>
            <ion-item style="border: 1.5px solid #005b9c;border-radius: 10px;">
              <span slot="start"><ion-icon name="person-circle-outline" color="primary"></ion-icon></span>
              <ion-input type="text" placeholder="Enter User Name" formControlName="username"></ion-input>
            </ion-item>
            <br>
            <ion-item style="border: 1.5px solid #005b9c;border-radius: 10px;">
              <span slot="start"><ion-icon name="lock-closed-outline" color="primary"></ion-icon></span>
              <ion-input *ngIf="_visiblePass == false" type="password" placeholder="Enter Password" formControlName="password"></ion-input>
              <ion-input *ngIf="_visiblePass == true" type="text" placeholder="Enter Password" formControlName="password"></ion-input>
              <span slot="end">
                <ion-icon name="eye-off-outline" color="primary" *ngIf="_visiblePass == false" (click)="_showPassword()"></ion-icon>
                <ion-icon name="eye-outline" color="primary" *ngIf="_visiblePass == true" (click)="_showPassword()"></ion-icon>
              </span>
            </ion-item>
          </ion-list>
          
          <br>
       
          <ion-button expand="block" color="primary" size="large" (click)="_login()"
            [disabled]="!loginForm.valid">Login</ion-button> -->
          <ion-button expand="block" color="danger" size="large" (click)="doGoogleLogin()">Login with Google</ion-button>
        </div>
      </form>
    </div>
  </div>

</ion-content>