<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="po-list"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">PO Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_downloadDoc()" fill="clear">
        <ion-icon slot="icon-only" name="document-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="divNew">
    <ion-row>
      <ion-col size="4">
        <b>Plant</b>
      </ion-col>
      <ion-col size="8">agsduagduasd</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Plant Name</b>
      </ion-col>
      <ion-col size="8">Sample Plant</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Requester</b>
      </ion-col>
      <ion-col size="8">Sample Requester</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Partner Name</b>
      </ion-col>
      <ion-col size="8">Tester One</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Payterms</b>
      </ion-col>
      <ion-col size="8">ksnd kndlksnd ansd</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Incoterm</b>
      </ion-col>
      <ion-col size="8">IncoTerm1&nbsp;IncoTerm2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Value</b>
      </ion-col>
      <ion-col size="8">INR&nbsp;28346873</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Created On</b>
      </ion-col>
      <ion-col size="8">08-09-2021</ion-col>
    </ion-row>
  
     <ion-fab top right *ngIf="docsList.length > 0">
      <button ion-fab mini color="gpsc" (click)="openFileList($event, objhead)">
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-fab> 
  </div>-->
  <div class="divNew"  *ngIf="(_headerDetails | json) != '{}'">
    <ion-row>
      <ion-col size="4">
        <b>Plant</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PlantNo ? _headerDetails.PlantNo[0] : null}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Plant Name</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PLANT_NAME ? _headerDetails.PLANT_NAME[0] : null}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Requester</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.Requester ? _headerDetails.Requester[0] : null}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Partner Name</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.VendoName ? _headerDetails.VendoName[0] : null}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Payterms</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PayTerms ? _headerDetails.PayTerms[0] : null}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Value</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.Currency ? _headerDetails.Currency[0] : 'INR'}}&nbsp;{{_headerDetails.GrandTotal ? (_headerDetails.GrandTotal[0] == "null" ? 0 : _headerDetails.GrandTotal[0]) : 0}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Created On</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.RequestedOn ? _headerDetails.RequestedOn[0] : null}}</ion-col>
    </ion-row>

    <!-- <ion-fab top right *ngIf="docsList.length > 0">
      <button ion-fab mini color="gpsc" (click)="openFileList($event, objhead)">
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-fab>-->
  </div>
  <ion-list>
    <ion-item style="border-bottom: 1px solid #0065b3;">
        <h2 slot="start">Item(s)</h2>
          <ion-button slot="end" (click)="(showDiv = !showDiv)" fill="clear">
            <ion-icon *ngIf="!showDiv" color="primary" name="add" slot="icon-only" style="font-size: 2em;"></ion-icon>
            <ion-icon *ngIf="showDiv" color="danger" name="remove" slot="icon-only" style="font-size: 2em;"></ion-icon>
      </ion-button>
    </ion-item>
    <div *ngIf="!showDiv">
      <ng-container *ngIf="_lineDetails.length > 0">
        <ion-item *ngFor="let item of _lineDetails">
          <ion-row style="width: 100%;">
            <ion-col size="6" class="ion-no-padding">
              <h4>
                <b>Item # {{item.SNo[0]}}</b>
              </h4>
            </ion-col>
            <ion-col size="6" class="ion-no-padding"></ion-col>
            <ion-col size="12" class="ion-no-padding">
              <h5 class="ion-text ion-text-wrap">{{item.ItemDesc[0]}}</h5>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <h5>{{item.Quantity[0]}}&nbsp;{{item.UOM[0]}}</h5>
            </ion-col>
            <ion-col size="8" class="ion-no-padding ion-text-right">
              <h5>{{_headerDetails.Currency ? _headerDetails.Currency[0] : 'INR'}}&nbsp;{{item.NetValue[0] ? item.NetValue[0] : 0}}</h5>
            </ion-col>
          </ion-row>
        </ion-item>
      </ng-container>
    </div>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-item>
      <ion-label position="stacked">Add Comments</ion-label>
      <ion-textarea rows="2" placeholder="Enter any comments here..." [(ngModel)]="_addedCommts" style="border: 1px solid #0065b3;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;"></ion-textarea>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ng-container *ngIf="allData._isSendBackShow != undefined">
      <ion-row *ngIf="allData._isSendBackShow == 'false'">
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_approve()">Approve</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_reject()">Reject</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="allData._isSendBackShow != undefined">
      <ion-row *ngIf="allData._isSendBackShow == 'true'">
        <ion-col size="4" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_approve()">Approve</ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_reject()">Reject</ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_sendback()">Send Back</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-toolbar>
</ion-footer>