.divClass {
    position: relative;
    font-size: 1.1em;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid #dedede;
}

.label-md {
    margin: 0px !important;
}

.inpSTy {
    .text-input-md,
    .text-input-ios {
        margin: 0px !important;
        padding: 0;
        width: calc(100% - 8px - 8px);
        background-color: transparent;
    }
}
.inst {
    .text-input-md,
    .text-input-ios {
        margin: 5px 8px;
        padding: 4px;
        width: calc(100% - 8px - 8px);
        background-color: #36658a;
        border-radius: 2px;
        color: white;
    }
}
ion-input {
    background-color: #36658a;
    border-radius: 2px;
}

.toggle-md,
.toggle-ios {
    position: relative;
    width: 30px;
    height: 10px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    contain: strict;
    padding: 7px;
}
.toggle-md .toggle-inner,
.toggle-ios .toggle-inner {
    top: -1px;
    width: 15px;
    height: 15px;
}

.toggle-md .toggle-icon,
.toggle-ios .toggle-icon {
    width: 30px;
    height: 14px;
    background-color: #dedede;
}

.radio .radio-icon {
    display: none;
}
.cc-selector input {
    margin: 0;
    padding: 0;
}
.approve {
    // background-image: url(../assets/imgs/approve.png);
    height: 100;
}
.reject {
    // background-image: url(../assets/imgs/reject.png);
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 40px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
    filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.drinkcard-ee {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 40px;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.approveopacity {
    -webkit-filter: brightness(1) grayscale(1) opacity(0.3);
    -moz-filter: brightness(1) grayscale(1) opacity(0.3);
    filter: brightness(1) grayscale(1) opacity(0.3);
}
.rejectopacit {
    -webkit-filter: brightness(1.8) grayscale(1) opacity(0.3);
    -moz-filter: brightness(1.8) grayscale(1) opacity(0.3);
    filter: brightness(1.8) grayscale(1) opacity(0.3);
}

.drinkcard-dd {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 40px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
    filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.drinkcard-bb {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 40px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

/* Extras */
a:visited {
    color: #888;
}
a {
    color: #444;
    text-decoration: none;
}
p {
    margin-bottom: 0.3em;
}
