<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pr-list"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">PR Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_downloadDoc()" fill="clear">
        <ion-icon slot="icon-only" name="document-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="divNew"  *ngIf="(_headerDetails | json) != '{}'">
    <ion-row>
      <ion-col size="4">
        <b>PR Number</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PRNo ? _headerDetails.PRNo[0] : null}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Plant</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PlantNo ? _headerDetails.PlantNo[0] : null}} - {{_headerDetails.PlantName ? _headerDetails.PlantName[0] : null}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Purchasing Group</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PurchasingGroupCode ? _headerDetails.PurchasingGroupCode[0] : null}} - {{_headerDetails.PurchasingGroupDesc ? _headerDetails.PurchasingGroupDesc[0] : null}}</ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="4">
        <b>Requester</b>
      </ion-col>
      <ion-col size="8">Sample Requester</ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="4">
        <b>Identor Name</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.IdentorName ? _headerDetails.IdentorName[0] : null}}</ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="4">
        <b>Payterms</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PayTerms ? _headerDetails.PayTerms[0] : null}}</ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col size="4">
        <b>Incoterm</b>
      </ion-col>
      <ion-col size="8">IncoTerm1&nbsp;IncoTerm2</ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col size="4">
        <b>Value</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.Currency ? _headerDetails.Currency[0] : INR}}&nbsp;{{_headerDetails.TotalValue ? (_headerDetails.TotalValue[0] == "null" ? null : _headerDetails.GrandTotal[0]) : 0}}</ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="4">
        <b>Created On</b>
      </ion-col>
      <ion-col size="8">{{_headerDetails.PRDate ? _headerDetails.PRDate[0] : null}}</ion-col>
    </ion-row>

    <!-- <ion-fab top right *ngIf="docsList.length > 0">
      <button ion-fab mini color="gpsc" (click)="openFileList($event, objhead)">
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-fab>-->
  </div>
  <ion-list>
    <ion-item style="border-bottom: 1px solid #0065b3;">
        <h2 slot="start">Item(s)</h2>
          <ion-button slot="end" (click)="(showDiv = !showDiv)" fill="clear">
            <ion-icon *ngIf="!showDiv" color="primary" name="add" slot="icon-only" style="font-size: 2em;"></ion-icon>
            <ion-icon *ngIf="showDiv" color="danger" name="remove" slot="icon-only" style="font-size: 2em;"></ion-icon>
      </ion-button>
    </ion-item>
    <div *ngIf="!showDiv">
      <ng-container *ngIf="_lineDetails.length > 0">
        <ion-item *ngFor="let item of _lineDetails">
          <ion-row style="width: 100%;">
            <ion-col size="6" class="ion-no-padding">
              <h4>
                <b>Item # {{item.ItemCode[0]}}</b>
              </h4>
            </ion-col>
            <ion-col size="6" class="ion-no-padding"></ion-col>
            <ion-col size="12" class="ion-no-padding">
              <h5 class="ion-text ion-text-wrap">{{item.ItemDesc[0]}}</h5>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <h5>{{item.ReqdQty[0]}}&nbsp;{{item.UOM[0]}}</h5>
            </ion-col>
            <ion-col size="8" class="ion-no-padding ion-text-right">
              <h5>{{item.Currency ? item.Currency[0] : 'INR'}}&nbsp;{{item.TotalValue ? item.TotalValue[0] : 0}}</h5>
            </ion-col>
          </ion-row>
        </ion-item>
      </ng-container>
    </div>
  </ion-list>
  <!-- <div class="divNew">
    <ion-list *ngIf="_lineDetails.length > 0">
      <div *ngFor="let item of _lineDetails; let i = index;" class="divClass">
        <ion-row>
          <ion-col size="6">
            <b>Item # {{item.ItemCode[0]}}</b>
          </ion-col>
          <ion-col size="6" style="text-align: right">
            <b>{{item.ReqdDeliDate[0]}}</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" ion-text text-wrap>
            {{item.ItemDesc[0]}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col  size="4">
            {{item.ReqdQty[0]}}&nbsp;{{item.UOM[0]}}
          </ion-col>

          <ion-col  size="8" class="ion-text-right">
            INR&nbsp;
            <span style="font-size: 18px;">{{item.UnitPrice[0]}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  size="12">
            Requisitioner:&nbsp;
            <span>{{item.old[0].PurchaseRequisitionRelease[0].PRR_CREATEDBY}}</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '3R'">
          <ion-col  size="12">
            <b>Comments</b>:&nbsp;{{item.old[0].PurchaseRequisitionRelease[0].PRR_COMMEMTS}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.values">
          <ion-col  size="12">
            <b>Comments</b>:&nbsp;{{item.values}}
          </ion-col>
        </ion-row>

        <ion-row style="padding-left: 0px !important;"
          *ngIf="item.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '3A' || item.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '4'">
          <ion-col  size="4">
            <button ion-button small round color="secondary" [disabled]="true">Approve</button>
          </ion-col>
          <ion-col  size="2">
            <img src="assets/imgs/right-image-png-4.png" height="20" width="20"
              style="opacity: 0.5; margin-left: 4px; margin-top: 8px;" />
          </ion-col>
          <ion-col  size="6" style="text-align: right">
            <button ion-button small round color="grey" [disabled]="true">Reject</button>
          </ion-col>
        </ion-row>
        <ion-row style="padding-left: 0px !important;"
          *ngIf="item.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '3R'">
          <ion-col  size="6">
            <button ion-button small round color="grey" [disabled]="true">Approve</button>
          </ion-col>
          <ion-col  size="2" style="text-align: right">
            <img src="assets/imgs/New Project.png" height="20" width="20"
              style="opacity: 0.5; margin-top: 8px; margin-right: -12px" />
          </ion-col>
          <ion-col  size="4" style="text-align: right">
            <button ion-button small round color="danger" [disabled]="true">Reject</button>
          </ion-col>
        </ion-row>

        <div *ngIf="item.tax != 'reject' && item.tax != 'approve'">
          <ion-row style="padding-left: 0px !important;" *ngIf="item.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == 1">
            <ion-col  size="6">
              <button ion-button small round color="secondary" (tap)="approveFunc(p);"
                [ngStyle]="{'background-color': item.approvebuttonColor}">Approve</button>
            </ion-col>
            <ion-col  size="6" style="text-align: right">
              <button ion-button small round color="danger" (tap)="rejectFunc(p);"
                [ngStyle]="{'background-color': item.rejectbuttonColor}">Reject</button>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="item.tax == 'reject' || item.tax == 'approve'">
          <ion-row style="padding-left: 0px !important;" *ngIf="item.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == 1">
            <ion-col  size="4" *ngIf="item.tax == 'approve'">
              <button ion-button small round color="secondary" (tap)="approveFunc(p);"
                [ngStyle]="{'background-color': item.approvebuttonColor}">Approve</button>
            </ion-col>
            <ion-col  size="6"*ngIf="item.tax == 'reject'">
              <button ion-button small round color="secondary" (tap)="approveFunc(p);"
                [ngStyle]="{'background-color': item.approvebuttonColor}">Approve</button>
            </ion-col>
            <ion-col  size="2" *ngIf="item.tax == 'approve'">
              <img src="assets/imgs/right-image-png-4.png" height="20" width="20"
                style="margin-left: 4px; margin-top: 8px;" />
            </ion-col>

            <ion-col  size="2" style="text-align: right" *ngIf="item.tax == 'reject'">
              <img src="assets/imgs/New Project.png" height="20" width="20"
                style="margin-right: -12px; margin-top: 8px;" />
            </ion-col>

            <ion-col  size="6" style="text-align: right" *ngIf="item.tax == 'approve'">
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="item.tax == 'approve'"
                [ngStyle]="{'background-color': item.rejectbuttonColor}">Reject</button>
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="item.tax != 'approve'"
                [ngStyle]="{'background-color': item.rejectbuttonColor}">Reject</button>
            </ion-col>
            <ion-col  size="4" style="text-align: right" *ngIf="item.tax == 'reject'">
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="item.tax == 'approve'"
                [ngStyle]="{'background-color': item.rejectbuttonColor}">Reject</button>
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="item.tax != 'approve'"
                [ngStyle]="{'background-color': item.rejectbuttonColor}">Reject</button>
            </ion-col>

          </ion-row>
        </div>

        <ion-row *ngIf="item.showBTN">
          <ion-col  size="10" style="text-align: left">
            <ion-input class="inst" [(ngModel)]="item.comment" type="text" placeholder="add comments"></ion-input>
          </ion-col>
          <ion-col  size="2" style="text-align: right">
            <button ion-button small [disabled]="item.comment == undefined || item.comment == ''"
              (tap)="addComment(item.comment, p, i)">Add</button>
          </ion-col>
        </ion-row>

      </div>
    </ion-list>
  </div> -->
</ion-content>
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-toolbar>
      <ion-item>
        <ion-label position="stacked">Add Comments</ion-label>
        <ion-textarea rows="2" placeholder="Enter any comments here..." [(ngModel)]="_addedCommts" style="border: 1px solid #0065b3;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;"></ion-textarea>
      </ion-item>
    </ion-toolbar>
    <ng-container *ngIf="allData._isSendBackShow != undefined">
      <ion-row *ngIf="allData._isSendBackShow == 'false'">
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_approve()">Approve</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_reject()">Reject</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="allData._isSendBackShow != undefined">
      <ion-row *ngIf="allData._isSendBackShow == 'true'">
        <ion-col size="4" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_approve()">Approve</ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_reject()">Reject</ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="_sendback()">Send Back</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-toolbar>
</ion-footer>