<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode="ios">
      Ramky
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="heroService.logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  
  <ion-row  style="margin-top: 15%;padding: 8px;">
    <div style="width: 100%; float: left; ">
      <ion-col class="buttonClass" (click)="prlist()">
        <p style="font-size: 18px;">Purchase Requisitions</p>
        <span class="spanSt">{{_prCount}}</span>
      </ion-col>
    </div>
    </ion-row>
  
    <ion-row style="padding: 8px; ">
      
      <div style="width:100%; float: right;">
        <ion-col class="buttonClass" (click)="polist()">
          <p style="font-size: 18px;">Purchase Orders</p>
          <span class="spanSt">{{_poCount}}</span>
        </ion-col>
      </div>
    </ion-row>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
